*{
    padding: 0px;
    margin: 0px;
}
body{
   color: black;
}
html, body{
    height: 100%;
}
#header{
    /* background-color: #FF4452; */
    height: 90px;
}
.head1{
    /* background-color: aqua; */
    width: 10%;
    position: relative;
    float: left;
    height: 100%;
}
.head2{
    /* background-color: darkblue; */
    width: 70%;
    position: relative;
    float: left;
    height: 100%;
}
.head3{
    height: 15%;
    /* background-color: darkgoldenrod; */
    width:20%;
    position: relative;
    float: left;
    height: 100%;
}
#contenedor{
    width: 900px;
    margin: auto;
    background: black;
    color:white;
    /* border: 1px solid black; */
     font-family: 'Roboto', sans-serif;
}
#logo{
    width: 88px;
    padding: 9px;
}
#boxlogo2{
    width: 150px;
}
.clear{
    clear: both;
}

main{
    margin-top: 5px;
}
h1{
    padding: 5px 0 0 5px;
    font-size: 40px;
}
h2{
    color: #3A74F0;
    font-size: 20px;
    padding-left: 5px;
}
main{
    background-color: #F0EDD8;
}
.div1{
    width: 900px;
    height: 450px;
}
#s1{
    width: 50%;
    height: 100%;
    /* background-color: greenyellow; */
    position: relative;
    float: left;
    /* padding-right: 20%;
    padding-left: 0;
    padding-top: 20%;
    padding-bottom: 0; */
}
#titulo2{
    color:#FF4452;
    font-size: 60px;
    padding: 40px 0 0 30px;
}
#p1{
    text-align: left;
    font-size: 35px;
    padding: 60px 20px 0 40px;
    color: black;
}
#input{
    padding:20px 0 0 50px;
    color: black;

}
#s2{
    width: 50%;
    height: 100%;
    /* background-color: brown; */
    position: relative;
    float: left;
}
#video{
    margin-top:15%;
    margin-left: -5%;

}
.hr{
    margin-left: 5%;
    margin-right: 5%;
}
.tabla{
    margin-top: 10px;
    width: 900px;
    height: 50px;
}
#nav ul{
    list-style-type: none;
    position: relative;
    margin-left:0;
}
a{
    text-align: center;
    text-anchor: middle;
}
#nav ul li{
    float: left;
    position: relative;
}
    #nav ul li:first-child{
        margin-left: 50px;
    }
#nav ul li a{
    float: left;
    height: 30px;
    width: 130px;
    border:1px solid black;
    letter-spacing: 0;
    font-size: 20px;
    text-decoration: none;
    background-color:#FF4452;
    color: white;
    position: relative;
}
    #nav ul li a:hover{
        background-color: white;
        color: #FF4452;
    }
.div3{
    height: 300px;
    width: 100%;
    /* background-color: blueviolet; */
    /* text-align: center; */
    margin-top: 5px;
    color: black;
}
#s3{
    height: 300px;
    width: 300px;
    /* background-color: red; */
    position: relative;
    float: left;
    color: black;
}

h4{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
    color
}
.parrafo1{

    text-anchor: middle;
    text-align: justify;
    padding-left: 10px;
    }
.parrafo2{
    text-anchor: middle;
    text-align: justify;
}
.director1{
    text-align: center;
    padding-top: 5px;
}
.director2{
    text-align: center;
    padding-top: 45px;
}
#form1{
    padding-top: 30px;
}
#s3 #form1{
        width: 250px;
        height: 50px;
    } 
    #form p {
        text-align: center;
    }
    #form label {
        font-size: 30px;
    } 
    input[type="radio"] {
        display: none;
    } 
    label {
        color: grey;
        font-size: 35px;
    }
    .clasificacion1 {
        direction: rtl;
        unicode-bidi: bidi-override;
    } 
    label:hover,
    label:hover ~ label {
        color: black;
    }
    input[type="radio"]:checked ~ label {
        color: black;
    } 
#form2{
    padding-top: 30px;
}
#s5 #form2{
        width: 250px;
        
    } 
    #form p {
        text-align: center;
    }
    #form label {
        font-size: 20px;
    } 
    input[type="radio"] {
        display: none;
    } 
    label {
        color: grey;
    }
    .clasificacion2 {
        direction: rtl;
        unicode-bidi: bidi-override;
    } 
    label:hover,
    label:hover ~ label {
        color: black;
    }
    input[type="radio"]:checked ~ label {
        color: black;
    } 
#s4{
    height: 300px;
    width: 300px;
    /* background-color: blue; */
    position: relative;
    float: left;
}
#s5{
    height: 300px;
    width: 300px;
    /* background-color:royalblue; */
    position: relative;
    float: left;
    color: black;
}
#letme{
    background-image: (./letme.jpg);
}

h3{
    font-size: 25px;
    text-align: center;
}
p{
    font-size: 15px;
    padding: 0% 10% 0% 10%;
}
#frame{
    padding: 5% 0 0 10%;
}
.footer{
    width: 100%;
    height: 90px;
    /* background-color: green; */
}
ul{
    list-style-type: none;
    text-decoration: none;
}
li{
    display: inline-block;
}


footer{
    width: 100%;
    height: 10%;
    border-top: 1px solid;
    /* margin: 0 auto; */
}
nav.menu{
    width: 100%;
}
nav.menu ul{
    list-style: none;
}
nav.menu ul li{
    float: left;
    width: 15%;
    text-align: center;
    padding-top: 10px;
}
.mapa{
    position: relative; 
    top: -53px;
}