*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    font-family: 'Roboto', sans-serif;
    
    /* font-family: 'Poppins', sans-serif; */
    font-size: 13px;
    /* background-color: #000;
    color: #fff; */
}
header{
    height:20%;
    text-align: center;
}

#cine{
     /* Aplique el 25% de la medida origional de la imagen */
    width: 121px;
    height: 96.5px;
}
#logo{
    /* Aplique el 25% de la medida origional de la imagen */
    width: 125px;
    height: 75px;
    position: absolute;
    top: 0;
    right: 2%;
}
#atras{
    position: absolute;
    top: 55%;
    left: -1%;
    height: 30px;
    width: 20px;
    
   }
#diagonal{
    position: absolute;
    top: 86%;
    left: -0.5%;
    height: 25px;
    width: 15px; 
   
   }
main{
    height: 73%;
    border-top: 2px solid black;
}
nav{
    height: 10%;
    padding: 15px;
    border-bottom: 2px solid black;
}
ul{
    list-style-type: none;
}
.nav{
    display: inline-block;    
}
.nav a{
   text-decoration: none;
   border-right: 1px solid black;
   padding: 0px 40px;
}
.nav{
    color:rgb(75, 78, 80);
}
.nav a:hover{
    background-color: rgb(226, 27, 27);
    color: white;
}
nav{
    text-align: center;
}
.cuerpo{
    width: 60%;
    position: relative;
    left: 20%;
}
#seccion1{
    height: 40%;
    padding: 25px 10px 0px 25px;
   
}
#seccion2{
    height: 50%;
    padding: 10px 10px 10px 25px;
    color: rgb(75, 78, 80);   
}
#estrellas{
    /* background-color: blue; */
    text-align: left;
    font-size: 25px;
}

.table{
    border-collapse: collapse;

}
#fila1{
    background-color: rgb(220, 247, 126);
    padding: 10px 10px;
  
}
.classImg{
    width: 10%;
    padding: 5px 0px 3px 0px;
    text-align: center;
}
.classDes{
    width: 80%;
    padding: 0px 5px 0px 5px;
}
#fila2, #fila3{
    width: 90px;
    height: 70px;
    border-radius: 5px;
}
#popular{
    color: red;
}

#mapa{
    width: 110px;
    height: 100px;
    position: absolute;
    top: 0;
   transform: translate(0, -33%);
 }
 #form label {
    font-size: 18px;
 }
 input[type="radio"] {
    display: none;
 }
 label {
    color: rgb(75, 78, 80);
 }
 .clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
 }
label:hover,
 label:hover ~ label {
    color: red;
  }
input[type="radio"]:checked ~ label {
    color: black;
  }
footer{
    width: 100%;
    height: 10%;
    /* border-top: 1px solid; */
    /* margin: 0 auto; */
}
nav.menu{
    width: 100%;
}
nav.menu ul{
    list-style: none;
}
nav.menu ul li{
    float: left;
    width: 15%;
    text-align: center;
    padding-top: 30px;
}
.mapa{
    position: relative; 
    top: -53px;
}
