*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html{
    height: 100%;
    background-color: white;
    font-family: 'Roboto', sans-serif;
}


header{
    width: 100%;
    height: 15%;
    position: relative;
}

.caja1{
    height: 100%;
    width: 100%;
    position: relative;
}

.caja1>section{
    height: 100%;
}

.s1{
    float: left;
    position: relative;
    
    
}
.s2{
    float: left;
    position: relative;
    left: 15%;
}

.s3{
    float: left;
    position: relative;
    left: 50%;

}
.avatar{
    width: 100px;
    position: absolute;
    left: 50%;
    transform: translate(30%,-10%);
    border-radius: 50%;
    border: 5px solid white;
    
}
.avatar1{
    width: 200px;
    position: absolute;
    left: 50%;
    transform: translate(90%,-10%);
    border-radius: 50%;
    border: 5px solid white;
    
}

.mi{
    position: relative;
    margin-top: 5%;
    
}
.subir{
    position: relative;
    margin-top: 2%;
    color: cornflowerblue;
}

.imagen2{
    position: relative;
}

.su{
    position: relative;
}
/*  */
main{
    width: 900px;
    height: 70%;
    position: relative;
    margin: auto;
}

.div1{
    height: 20%;
    width: 100%;
    position: relative;
}

.imagen1{
    position: relative;
    float: left;
    left: 30%;
}
.su{
    position: relative;
    float: left;
    left: 30%;
    top: 50%;
}
/*  */
.div2{
    position: relative;
    width: 100%;
    height: 15%;
    
}
.input1{   
    position: relative;
    float: left;
    left: 30%;
    margin-top: 1.5%;
    padding: 6px;
    width: 250px;
    
}
.boton1{
    position: relative;
    float: left;
    left: 33%;
    margin-top: 1%;
    padding: 6px;
    width: 150px;
    border-radius: 10px;
    background-color: #578BF2;
    color: white;
    text-align: center;
    font: bold 15px 'Playfair Display';
    top: 5%;
}

.h31{
    position: relative;
    float: left;
    left: 27%;
    top:35%;
    font-family: 'Times New Roman', Times, serif;
}
/*  */

.div3{
    width: 100%;
    height: 10%;
    position: relative;
}
.p1{
    width: 100%;
    height: 5%;
    position: relative;
    color: red;
    left: 30%;
    font-family: 'Times New Roman', Times, serif;
}

.la1{
    width: 100%;
    height: 5%;
    position: relative;
    top:65%;
    left: 20%;
    font-family: 'Times New Roman', Times, serif;
}
/*  */
.div4{
    width: 80%;
    height: 35%;
    position: relative;
    display: inline-block;
    top:15%;
    left: 15%;
}

.ca{
    width: 25%;
    height: 98%;
    position: relative;
    float: left;
    border: 1px solid black;
    background-color: #d6f2c2;    
}

.c1, .c2, .c3, .c4, .c5 {
    position: relative;
    left: 25%;

}

.eti{
    width: 35%;
    height: 98%;
    position: relative;
    float: left;
    border: 1px solid black;
    text-align: center;
    background-color:#acc3f2;
}

.des{
    width: 35%;
    height: 98%;
    position: relative;
    float: left;
    border: 1px solid black;
    text-align: center;
    background-color: #f9b2ae;
}

/*  */

.div5{
    width: 50%;
    height: 8%;
    position: relative;
    left: 20%;
}

.la2{

}

.la3{
    position: relative;
    left: 2%;

}

.div6{
    position: relative;
    height: 10%;
    width: 50%;
    left: 20%;
}

.sv{
    height: 60%;
    position: relative;
    left: 40%;
    padding: 10px;
    width: 200px;
    border: 0;
    border-radius: 5px;
    background-color: #71a64b;
    color: white;
    text-align: center;
    font: bold 14px 'Playfair Display';
    top: 5%;
}

/* footer{
    width: 100%;
    height: 14%;
    position: relative;
    margin-top: 1px black;
    
} */
footer{
    width: 100%;
    height: 10%;
    border-top: 1px solid;
    /* margin: 0 auto; */
}
nav.menu{
    width: 100%;
}
nav.menu ul{
    list-style: none;
}
nav.menu ul li{
    float: left;
    width: 15%;
    text-align: center;
    padding-top: 10px;
}
.mapa{
    position: relative; 
    top: -53px;
}
